
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo
{
  display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 16px;
}



body 
{
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container
 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}



/* Header */
header 
{
  background: rgb(167, 29, 29);
  color: white;
  padding: 20px 0;
}


.header-wrap
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer-wrap
{
  display: flex;
  width: 50%;
  justify-content: space-between;
}


nav ul
 {
  list-style: none;
  gap: 15px;
  display: flex;
}

nav a 
{
  color: #a39999;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover 
{
  color: rgb(32, 30, 24);
  font-weight: bold;
}

/* Sections */
.section 
{
  padding: 40px 0;
}

.section:nth-child(even) 
{
  background: #f4f4f4;
}

/* Footer */
footer
 {
  background: #333;
  color: #fff;
  padding: 20px 0;
}

img 
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


.footer-wrap img
{
  height: 50px;
  width:  50px;
  border-radius: 50%;
}

.social img
{
 
 height: 37px;
 width: 37px;
}

.social a:hover img
{
  transform: scale(1.05);
  transition: all 0.3s;

}

.footer-logo
{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
