
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body 
{
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container
 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}



/* Header */
header 
{
  background: rgb(167, 29, 29);
  color: white;
  padding: 20px 0;
}


.header-wrap
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul
 {
  list-style: none;
  gap: 15px;
  display: flex;
}

nav a 
{
  color: #a39999;
  text-decoration: none;
}

nav a:hover 
{
  color: rgb(32, 30, 24);
  font-weight: bold;
}

/* Sections */
.section 
{
  padding: 40px 0;
}

.section:nth-child(even) 
{
  background: #f4f4f4;
}

/* Footer */
footer
 {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

img 
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
